{% extends 'common/navbar.html' %}

{% block title %}Kraken's catalog{% endblock %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'catalog.css' %}">
<div class="wrapper">
    <div class="title_block">
        {% if filter_main.qs.exists %}
            <h1>Catalog</h1>
        {% else %}
            <h1>There aren't any matches</h1>
        {% endif %}
    </div>
    <div class="category_block">
        <div class="sticky_category_block">
            <h1>Categories</h1>
            <ul class="category_list">
                {% for category in categories %}
                    <a class='category' href="{% url 'byCategory' category.slug %}">{{ category }}</a>
                {% endfor %}
                <form class="main_filter" method="get">
                    {% csrf_token %}
                    {% for field in filter_main.form %}
                        <div class="filter_section">
                            <span class="filter_title">{{ field.label }}</span>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <div class="filter_button_div">
                        <button style="color: white" class="filter_button" type="submit">Filter</button>
                    </div>
                </form>
            </ul>
        </div>
    </div>
    <div class="main">
        {% for item in filter_main.qs %}
            <div class="item">
                <a class="item-img" href="{% url 'byName' item.slug %}"><img src="{{ item.image.url }}" alt="No image"></a>
                <a href="{% url 'byName' item.slug %}" class="title">{{ item.title }}</a>
                <span class="price">{{ item.price }}₴</span>
                {% if item.in_stock %}
                    <a class="cart" href="#"><i class="fas fa-shopping-cart fa-2x"></i></a>
                {% else %}
                    <i class="fas fa-shopping-cart fa-2x disabled_cart"></i>
                {% endif %}
                <span class="in_stock">
                    {% if item.in_stock %}
                        <span class="in_stock_true">In stock</span>
                    {% else %}
                        <span class="in_stock_false">Not in stock</span>
                    {% endif %}
                </span>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}