{% extends 'common/navbar.html' %}

{% load static %}

{% block title %}Comparison{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'comparison.css' %}">
<div class="wrapper">
    <ul class="list">
        {% for compareItem, isFavorite in items %}
        <li class="item">
            {% if isFavorite %}
                <a class="heart" href="{% url 'addFavorite' compareItem.item.slug %}"><i class="fas fa-heart fa-sm"></i></a>
            {% else %}
                <a class="heart" href="{% url 'addFavorite' compareItem.item.slug %}"><i class="far fa-heart fa-sm"></i></a>
            {% endif %}
                <a class="trash" href="{% url 'removeCompareItem' compareItem.item.slug %}"><i class="far fa-trash-alt fa-sm"></i></a>
            <img src="{{ compareItem.item.image.url }}" alt="">
            <a class="item_title" href="{% url 'byName' compareItem.item.slug %}"><span>{{ compareItem.item.title }}</span></a>
            {% if compareItem.item.in_stock %}
                <span class="item_in_stock">In stock</span>
            {% else %}
                <span style="color: gray" class="item_not_in_stock">Not in stock</span>
            {% endif %}
            <div class="characteristics">
                <p class="characteristic">{{ compareItem.item.price }}₴</p>
                <p class="characteristic">{{ compareItem.item.color }}</p>
                <p class="characteristic">{{ compareItem.item.category }}</p>
                <p class="characteristic">{{ compareItem.item.material }}</p>
                <p class="characteristic">Age: <br>{{ compareItem.item.age }}</p>
                <p class="characteristic">{{ compareItem.item.country }}</p>
                <p class="characteristic">Guarantee: <br>{{ compareItem.item.guarantee }}</p>
            </div>
        </li>       
        {% endfor %}
    </ul>
</div>
{% endblock %}