{% extends 'common/navbar.html' %}

{% load static %}

{% block title %}{{ item.title }} - KrakenToy{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'item_page.css' %}">
<h1>{{ item.title }}</h1>
<div class="wrapper">
    <div class="image_wrapper">
        <img src="{{ item.image.url }}" alt="">
    </div>
    <div class="purchase_wrapper">
        <div class="purchase_items">
            <span class="purchase_items_price">{{ item.price }}₴</span>
            <div class="purchase_items_icons">
                {% if request.user.is_authenticated %}
                    <a href="#"><i class="fas fa-balance-scale fa-2x"></i></a>
                    {% if isFavorite %}
                        <a href="{% url 'addFavorite' item.slug %}"><i class="fas fa-heart fa-2x"></i></a>
                    {% else %}
                        <a href="{% url 'addFavorite' item.slug %}"><i class="far fa-heart fa-2x"></i></a>
                    {% endif %}
                {% endif %}
            </div>
            <button type="submit">Buy</button>
        </div>
        <div class="purchase_payment">
            <h2>Payment</h2>
            <span>Payment upon receipt of the goods, By card online, Google Pay, Promotional payment by Visa card, Cashless for legal entities, Cashless for individuals, PrivatPay, Apple Pay, Credit, Payment in installments.</span>
        </div>
        <div class="purchase_return">
            <h2>Return</h2>
            <span>The Law of Ukraine "On Consumer Protection" stipulates that within 14 days from the date of purchase a serviceable product, ie a product of proper quality, which for any reason did not like the buyer, can be returned.</span>
        </div>
        <div class="purchase_guarantee">
            <h2>Guarantee</h2>
            <span>The guarantee on this product is provided for a period {{ item.guarantee }}</span>
        </div>
        <div class="purchase_delivery">
            <h2>Delivery</h2>
            <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum corrupti labore officia illo a perspiciatis, mollitia rem dignissimos? Ea, dolore.</span>
        </div>
    </div>
    <div class="description_wrapper">
        <span>{{ item.description }}</span>
    </div>
    <div class="characteristic_wrapper">
        <div class="characteristic_wrapper_sticky">
            <h2>Characteristics</h2>
            <div class="characteristics">
                <br>
                <div class="characteristics_item">
                    <span class="characteristics_item_title">Color:</span>
                    <span class="characteristics_item_value">
                        {{ item.color }}
                    </span>
                </div>
                <br>
                <div class="characteristics_item">
                    <span class="characteristics_item_title">Category:</span>
                    <span class="characteristics_item_value">
                        <a href="{% url 'byCategory' item.category.slug %}">{{ item.category }}</a>
                    </span>
                </div>
                <br>
                <div class="characteristics_item">
                    <span class="characteristics_item_title">Age:</span>
                    <span class="characteristics_item_value">
                        {{ item.age }}
                    </span>
                </div>
                <br>
                <div class="characteristics_item">
                    <span class="characteristics_item_title">Material:</span>
                    <span class="characteristics_item_value">
                        {{ item.material }}
                    </span>
                </div>
                <br>
                <div class="characteristics_item">
                    <span class="characteristics_item_title">Country:</span>
                    <span class="characteristics_item_value">
                        {{ item.country }}
                    </span>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
{% endblock %}