h1 {
    text-align: center;
    color: black;
}

img {
    width: 200px;
    height: 200px;
}

.item-img {
    grid-area: image;
}

.wrapper {
    display: grid;
    grid-template-areas: "category_block count_items"
                         "category_block main";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 10fr;
}

.title_block {
    border-bottom: 1px solid #dbdbdb;
    align-items: center;
    display: grid;
}

.category {
    color: #6666f5;
    font-size: 16px;
}

.category:hover {
    color: crimson;
}

.category_list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 5% 0 0 10%;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #dbdbdb;
}

.category_block {
    border-right: 0.5px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    grid-area: category_block;
}
/* div is sticked when it's wrapped because of wrapper is an area for moving */
.sticky_category_block {
    position: sticky;
    top: 0;
    padding: 0 0 4%;
    overflow-y: scroll;
    max-height: 98vh;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

.item {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "image image"
                         "title title"
                         "price cart"
                         "in_stock in_stock";
    border-right: 0.5px solid #dbdbdb;
    border-bottom: 0.5px solid #dbdbdb;
    color: black;
}

.cart i {
    color: #00a046;
    grid-area: cart;
}

.cart {
    text-align: right;
    padding: 0 10% 0 0;
    grid-area: cart;
}

.disabled_cart {
    text-align: right;
    padding: 0 10% 0 0;
    color: gray;
}

.title {
    grid-area: title;
    text-align: left;
    color: black;
    font-size: 20px;
    border-top: 1px solid #dbdbdb;
    padding: 0 0 0 2%;
}

.title:hover {
    text-decoration: underline;
}

.price {
    grid-area: price;
    text-align: left;
    padding: 4% 0 4% 4%;
    font-size: 24px;
    color: crimson;
}

.in_stock {
    grid-area: in_stock;
    text-align: left;
    padding: 0 0 0 2%;
}

.in_stock_true {
    color: #00a046;
}

.in_stock_false {
    color: gray;
}

.category_block form * {
    color: black;
}

.main_filter li {
    padding-left: 20px;
}

.main_filter button {
    text-align: center;
}

.filter_title {
    font-size: 20px;
    color: white;
}

.filter_section {
    border-top: 1px solid #dbdbdb;
    padding: 5px 0;
    align-items: center;
}

.filter_section select {
    padding: 5px 15px;
    margin: 0 5px;
}

.filter_button_div {
    text-align: center;
}

.filter_button {
    padding: 5px 20px;
    font-size: 20px;
    border: 0;
    border-top: 1px solid #dbdbdb;
    background: #00a046;
    cursor: pointer;
}