img {
    justify-self: center;
    width: auto;
    height: 200px;
    grid-area: img;
}

.wrapper {
    padding: 2%;
}

.list {
    display: grid;
    grid-auto-flow: column;
}

.item {
    overflow: hidden;
    border: 1px solid #dbdbdb;
    text-align: center;
    display: grid;
    grid-template-areas: "favorite remove"
                              "img img"
                            "title title"
                         "in_stock in_stock"
                  "characteristics characteristics";
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.item_title {
    font-size: 2em;
    grid-area: title;
}

.item_in_stock {
    color: #00a046;
    grid-area: in_stock;
}

.item_not_in_stock {
    grid-area: in_stock;
}

.characteristics {
    text-align: center;
    display: grid;
    grid-area: characteristics;
}

.characteristic {
    padding: 1em;
    font-size: 1.25em;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}

.heart {
    grid-area: favorite;
    color: crimson;
    border-bottom: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
}

.trash {
    grid-area: remove;
    color: crimson;
    border-bottom: 1px solid #dbdbdb;
}