img {
    width: 70%;
    height: 200px;
}

a {
    color: black;
}

.list {
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.item {
    display: grid;
    grid-template-areas:  "img img"
                        "title title"
                        "price trash"
                     "in_stock trash";
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid #dbdbdb;
    text-align: center;
}

.item_img {
    grid-area: img;
}

.item_title {
    text-align: left;
    grid-area: title;
    font-size: 1.5em;
    border-top: 1px solid #dbdbdb;
}

.item_price {
    text-align: left;
    grid-area: price;
    color: crimson;
    font-size: 1.5em;
}

.trash {
    grid-area: trash;
    text-align: center;
    align-self: center;
    color: crimson;
}

.item_in_stock {
    grid-area: in_stock;
    text-align: left;
}

.in_stock {
    color: #00a046;
}

.not_in_stock {
    color: gray;
}

.total {
    text-align: center;
    font-size: 2em;
}